body{
	background-color: #EEEEFF;
}

h1, h2, h3 {
	text-align: center;
	color: black;
	text-shadow: 0px 0px 20px white;
}

p{
	text-align: center;
}

input{
	max-width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

td{
	text-align: center;
	padding: 5px;
	background-color: #ffdb99;	
}

td:nth-child(even){
	background-color: #ffe4b2;
}

tr:first-child td:first-child{
	background-color: transparent;
}	


#container{
	width: 80%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	
	padding: 1%;
	
	background-color: rgba(150, 150, 180, 0.3);
	border-radius: 2em;
}